.form img{
    width: 1000px;
    height: 1000px;
    background-image: 1000px;
}
body{
    padding: 0;
    margin :0;
}
body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('path/to/your/33.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
